.feed-element {
  margin-bottom: 10px;
  border: 1px solid #3f3f3f;
  padding: 10px;
}

.feed-element__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed-element__badge {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.feed-element__badge img {
  height: 100px;
  padding-right: 10px;
}

.feed-element__info {
  display: block;
  text-align: right;
}

.feed-element__title {
  font-size: 1.2em;
}

.feed-element__title {
  font-size: 1.2em;
}

.feed-element__copy-text {
  margin-top: 10px;
  margin-bottom: 10px;
}