body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.icon {
  position: relative;    
}

a:link {  
  color: #5f9fff;
  text-decoration: none;
}

a:visited {
  color: #5f9fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 8px;
}